html, body {
  height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

input {
  outline: none;
}

image {
  border: none !important;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: inherit;
}

strong {
  font-weight: bold;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/*-=[COL]=-*/
.col-12, .col-12-mx, .col-12f, .col-12f-mx {
  width: 100%;
}

.col-11, .col-11-mx, .col-11f, .col-11f-mx {
  width: 91.6666666667%;
}

.col-10, .col-10-mx, .col-10f, .col-10f-mx {
  width: 83.3333333333%;
}

.col-9, .col-9-mx, .col-9f, .col-9f-mx {
  width: 75%;
}

.col-8, .col-8-mx, .col-8f, .col-8f-mx {
  width: 66.6666666667%;
}

.col-7, .col-7-mx, .col-7f, .col-7f-mx {
  width: 58.3333333333%;
}

.col-6, .col-6-mx, .col-6f, .col-6f-mx {
  width: 50%;
}

.col-5, .col-5-mx, .col-5f, .col-5f-mx {
  width: 41.6666666667%;
}

.col-4, .col-4-mx, .col-4f, .col-4f-mx {
  width: 33.3333333333%;
}

.col-3, .col-3-mx, .col-3f, .col-3f-mx {
  width: 25%;
}

.col-2, .col-2-mx, .col-2f, .col-2f-mx {
  width: 16.6666666667%;
}

.col-1, .col-1-mx, .col-1f, .col-1f-mx {
  width: 8.3333333333%;
}

.col-mx {
  margin-bottom: 10px;
}

.col-12f, .col-11f, .col-10f, .col-9f, .col-8f, .col-7f, .col-6f, .col-5f, .col-4f, .col-4f, .col-3f, .col-2f, .col-1f,
.col-12f-mx, .col-11f-mx, .col-10f-mx, .col-9f-mx, .col-8f-mx, .col-7f-mx, .col-6f-mx, .col-5f-mx, .col-4f-mx, .col-4f-mx, .col-3f-mx, .col-2f-mx, .col-1f-mx {
  float: left;
}

.col-12f-mx, .col-11f-mx, .col-10f-mx, .col-9f-mx, .col-8f-mx, .col-7f-mx, .col-6f-mx, .col-5f-mx, .col-4f-mx, .col-4f-mx, .col-3f-mx, .col-2f-mx, .col-1f-mx, .col-12-mx, .col-11-mx, .col-10-mx, .col-9-mx, .col-8-mx, .col-7-mx, .col-6-mx, .col-5-mx, .col-4-mx, .col-4-mx, .col-3-mx, .col-2-mx, .col-1-mx {
  margin-bottom: 10px;
}

/*-=[/COL]=-*/
/* -=[ CLEARFIX ]=-*/
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* -=[ /CLEARFIX ]=-*/
/*-=[FONT-SIZE]=-*/
.fs-72 {
  font-size: 72pt;
}

.fs-48 {
  font-size: 48pt;
}

.fs-36 {
  font-size: 36pt;
}

.fs-28 {
  font-size: 28pt;
}

.fs-26 {
  font-size: 26pt;
}

.fs-24 {
  font-size: 24pt;
}

.fs-22 {
  font-size: 22pt;
}

.fs-21 {
  font-size: 21pt;
}

.fs-20 {
  font-size: 20pt;
}

.fs-19 {
  font-size: 19pt;
}

.fs-18 {
  font-size: 18pt;
}

.fs-17 {
  font-size: 17pt;
}

.fs-16 {
  font-size: 16pt;
}

.fs-15 {
  font-size: 15pt;
}

.fs-14 {
  font-size: 14pt;
}

.fs-13 {
  font-size: 13pt;
}

.fs-12 {
  font-size: 12pt;
}

.fs-11 {
  font-size: 11pt;
}

.fs-10 {
  font-size: 10pt;
}

.fs-9 {
  font-size: 9pt;
}

.fs-8 {
  font-size: 8pt;
}

.fs-7 {
  font-size: 7pt;
}

.fs-0 {
  font-size: 0pt;
}

/*-=[/FONT-SIZE]=-*/
/*-=[WIDTH]=-*/
.wd-1 {
  width: 100%;
}

.wd-10 {
  width: 100px;
}

.wd-15 {
  width: 150px;
}

.wd-20 {
  width: 200px;
}

.wd-25 {
  width: 250px;
}

.wd-30 {
  width: 300px;
}

.wd-35 {
  width: 350px;
}

.wd-40 {
  width: 400px;
}

.wd-45 {
  width: 450px;
}

.wd-50 {
  width: 500px;
}

.wd-55 {
  width: 550px;
}

.wd-60 {
  width: 600px;
}

.wd-65 {
  width: 650px;
}

.wd-70 {
  width: 700px;
}

.wd-75 {
  width: 750px;
}

/*-=[/WIDTH]=-*/
/*-=[HEIGHT]=-*/
.hg-1 {
  height: 100%;
}

.hg-10 {
  height: 100px;
}

.hg-15 {
  height: 150px;
}

.hg-20 {
  height: 200px;
}

.hg-25 {
  height: 250px;
}

.hg-30 {
  height: 300px;
}

.hg-35 {
  height: 350px;
}

.hg-40 {
  height: 400px;
}

.hg-45 {
  height: 450px;
}

.hg-50 {
  height: 500px;
}

.hg-55 {
  height: 550px;
}

.hg-60 {
  height: 600px;
}

.hg-65 {
  height: 650px;
}

.hg-70 {
  height: 700px;
}

.hg-75 {
  height: 750px;
}

/*-=[/HEIGHT]=-*/
/*-=[BUTTON]=-*/
.btn {
  padding: 15px 20px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
  font-size: 9pt;
  border: 1px solid transparent;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  line-height: 1;
  /*-=[INITIALIZE TYPE]=-*/
  /*-=[/INITIALIZE TYPE]=-*/
  /*-=[TYPE 2 & 3]=-*/
  /*-=[/TYPE 2 & 3]=-*/
  /*-=[TYPE4]=-*/
  /*-=[/TYPE4]=-*/
  /*-=[TYPE5]=-*/
  /*-=[/TYPE5]=-*/
  /*-=[TYPE6]=-*/
  /*-=[/TYPE6]=-*/
}
.btn.white {
  background: #ecf0f1;
  color: #718093;
}
.btn.white:hover {
  background: #ecf0f1;
}
.btn.red {
  background: #e84118;
}
.btn.red:hover {
  background: #c23616;
}
.btn.blue {
  background: #00a8ff;
}
.btn.blue:hover {
  background: #0097e6;
}
.btn.blue2 {
  background: #487eb0;
}
.btn.blue2:hover {
  background: #40739e;
}
.btn.blue3 {
  background: #273c75;
}
.btn.blue3:hover {
  background: #192a56;
}
.btn.purple {
  background: #9c88ff;
}
.btn.purple:hover {
  background: #8c7ae6;
}
.btn.yellow {
  background: #fbc531;
}
.btn.yellow:hover {
  background: #e1b12c;
}
.btn.green {
  background: #4cd137;
}
.btn.green:hover {
  background: #44bd32;
}
.btn.black {
  background: #353b48;
}
.btn.black:hover {
  background: #2f3640;
}
.btn.t2, .btn.t3, .btn.t4, .btn.t5, .btn.t6 {
  position: relative;
  background: transparent;
  color: #353b48;
}
.btn.t2:hover, .btn.t3:hover, .btn.t4:hover, .btn.t5:hover, .btn.t6:hover {
  background: transparent;
  color: #FFFFFF;
}
.btn.t2.white, .btn.t3.white, .btn.t4.white, .btn.t5.white, .btn.t6.white {
  border-color: #ecf0f1;
}
.btn.t2.white:hover, .btn.t3.white:hover, .btn.t4.white:hover, .btn.t5.white:hover, .btn.t6.white:hover {
  color: #353b48;
}
.btn.t2.red, .btn.t3.red, .btn.t4.red, .btn.t5.red, .btn.t6.red {
  border-color: #e84118;
}
.btn.t2.blue, .btn.t3.blue, .btn.t4.blue, .btn.t5.blue, .btn.t6.blue {
  border-color: #00a8ff;
}
.btn.t2.blue2, .btn.t3.blue2, .btn.t4.blue2, .btn.t5.blue2, .btn.t6.blue2 {
  border-color: #487eb0;
}
.btn.t2.blue3, .btn.t3.blue3, .btn.t4.blue3, .btn.t5.blue3, .btn.t6.blue3 {
  border-color: #273c75;
}
.btn.t2.purple, .btn.t3.purple, .btn.t4.purple, .btn.t5.purple, .btn.t6.purple {
  border-color: #9c88ff;
}
.btn.t2.yellow, .btn.t3.yellow, .btn.t4.yellow, .btn.t5.yellow, .btn.t6.yellow {
  border-color: #fbc531;
}
.btn.t2.green, .btn.t3.green, .btn.t4.green, .btn.t5.green, .btn.t6.green {
  border-color: #4cd137;
}
.btn.t2.black, .btn.t3.black, .btn.t4.black, .btn.t5.black, .btn.t6.black {
  border-color: #353b48;
}
.btn.t2:after, .btn.t3:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.t2:hover:after, .btn.t2:focus:after, .btn.t3:hover:after, .btn.t3:focus:after {
  width: 100%;
}
.btn.t2:focus, .btn.t3:focus {
  color: #FFFFFF;
}
.btn.t4:after, .btn.t4:before, .btn.t5:after, .btn.t5:before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.t4:hover, .btn.t4:focus, .btn.t5:hover, .btn.t5:focus {
  color: #FFFFFF;
}
.btn.t2:after {
  left: 0;
}
.btn.t3:after {
  right: 0;
}
.btn.t2.white:hover:after, .btn.t2.red:focus:after, .btn.t3.white:hover:after, .btn.t3.red:focus:after {
  background: #ecf0f1;
}
.btn.t2.red:hover:after, .btn.t2.red:focus:after, .btn.t3.red:hover:after, .btn.t3.red:focus:after {
  background: #e84118;
}
.btn.t2.blue:hover:after, .btn.t2.blue:focus:after, .btn.t3.blue:hover:after, .btn.t3.blue:focus:after {
  background: #00a8ff;
}
.btn.t2.blue2:hover:after, .btn.t2.blue2:focus:after, .btn.t3.blue2:hover:after, .btn.t3.blue2:focus:after {
  background: #487eb0;
}
.btn.t2.blue3:hover:after, .btn.t2.blue3:focus:after, .btn.t3.blue3:hover:after, .btn.t3.blue3:focus:after {
  background: #273c75;
}
.btn.t2.purple:hover:after, .btn.t2.purple:focus:after, .btn.t3.purple:hover:after, .btn.t3.purple:focus:after {
  background: #9c88ff;
}
.btn.t2.yellow:hover:after, .btn.t2.yellow:focus:after, .btn.t3.yellow:hover:after, .btn.t3.yellow:focus:after {
  background: #fbc531;
}
.btn.t2.green:hover:after, .btn.t2.green:focus:after, .btn.t3.green:hover:after, .btn.t3.green:focus:after {
  background: #4cd137;
}
.btn.t2.black:hover:after, .btn.t2.black:focus:after, .btn.t3.black:hover:after, .btn.t3.black:focus:after {
  background: #353b48;
}
.btn.t4:after, .btn.t4:before {
  width: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}
.btn.t4:after {
  left: 0;
}
.btn.t4:before {
  right: 0;
}
.btn.t4:hover:after, .btn.t4:hover:before, .btn.t4:focus:before, .btn.t4:focus:after {
  width: 50%;
}
.btn.t4.white:hover:after, .btn.t4.white:hover:before, .btn.t4.red:focus:after, .btn.t4.red:focus:before {
  background: #ecf0f1;
}
.btn.t4.red:hover:after, .btn.t4.red:hover:before, .btn.t4.red:focus:after, .btn.t4.red:focus:before {
  background: #e84118;
}
.btn.t4.blue:hover:after, .btn.t4.blue:hover:before, .btn.t4.blue:focus:after, .btn.t4.blue:focus:before {
  background: #00a8ff;
}
.btn.t4.blue2:hover:after, .btn.t4.blue2:hover:before, .btn.t4.blue2:focus:after, .btn.t4.blue2:focus:before {
  background: #487eb0;
}
.btn.t4.blue3:hover:after, .btn.t4.blue3:hover:before, .btn.t4.blue3:focus:after, .btn.t4.blue3:focus:before {
  background: #273c75;
}
.btn.t4.purple:hover:after, .btn.t4.purple:hover:before, .btn.t4.purple:focus:after, .btn.t4.purple:focus:before {
  background: #9c88ff;
}
.btn.t4.yellow:hover:after, .btn.t4.yellow:hover:before, .btn.t4.yellow:focus:after, .btn.t4.yellow:focus:before {
  background: #fbc531;
}
.btn.t4.green:hover:after, .btn.t4.green:hover:before, .btn.t4.green:focus:after, .btn.t4.green:focus:before {
  background: #4cd137;
}
.btn.t4.black:hover:after, .btn.t4.black:hover:before, .btn.t4.black:focus:after, .btn.t4.black:focus:before {
  background: #353b48;
}
.btn.t5:after, .btn.t5:before {
  height: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.btn.t5:after {
  top: 0;
}
.btn.t5:before {
  bottom: 0;
}
.btn.t5:hover:after, .btn.t5:hover:before, .btn.t5:focus:before, .btn.t5:focus:after {
  height: 50%;
}
.btn.t5.white:hover:after, .btn.t5.white:hover:before, .btn.t5.red:focus:after, .btn.t5.red:focus:before {
  background: #ecf0f1;
}
.btn.t5.red:hover:after, .btn.t5.red:hover:before, .btn.t5.red:focus:after, .btn.t5.red:focus:before {
  background: #e84118;
}
.btn.t5.blue:hover:after, .btn.t5.blue:hover:before, .btn.t5.blue:focus:after, .btn.t5.blue:focus:before {
  background: #00a8ff;
}
.btn.t5.blue2:hover:after, .btn.t5.blue2:hover:before, .btn.t5.blue2:focus:after, .btn.t5.blue2:focus:before {
  background: #487eb0;
}
.btn.t5.blue3:hover:after, .btn.t5.blue3:hover:before, .btn.t5.blue3:focus:after, .btn.t5.blue3:focus:before {
  background: #273c75;
}
.btn.t5.purple:hover:after, .btn.t5.purple:hover:before, .btn.t5.purple:focus:after, .btn.t5.purple:focus:before {
  background: #9c88ff;
}
.btn.t5.yellow:hover:after, .btn.t5.yellow:hover:before, .btn.t5.yellow:focus:after, .btn.t5.yellow:focus:before {
  background: #fbc531;
}
.btn.t5.green:hover:after, .btn.t5.green:hover:before, .btn.t5.green:focus:after, .btn.t5.green:focus:before {
  background: #4cd137;
}
.btn.t5.black:hover:after, .btn.t5.black:hover:before, .btn.t5.black:focus:after, .btn.t5.black:focus:before {
  background: #353b48;
}
.btn.t6.white {
  border-color: #ecf0f1;
  color: #353b48;
}
.btn.t6.white:hover {
  color: #2f3640;
}
.btn.t6.red {
  border-color: #e84118;
  color: #e84118;
}
.btn.t6.red:hover {
  color: #c23616;
}
.btn.t6.blue {
  border-color: #00a8ff;
  color: #00a8ff;
}
.btn.t6.blue:hover {
  color: #0097e6;
}
.btn.t6.blue2 {
  border-color: #487eb0;
  color: #487eb0;
}
.btn.t6.blue2:hover {
  color: #40739e;
}
.btn.t6.blue3 {
  border-color: #273c75;
  color: #273c75;
}
.btn.t6.blue3:hover {
  color: #273c75;
}
.btn.t6.purple {
  border-color: #9c88ff;
  color: #9c88ff;
}
.btn.t6.purple:hover {
  color: #8c7ae6;
}
.btn.t6.yellow {
  border-color: #fbc531;
  color: #fbc531;
}
.btn.t6.yellow:hover {
  color: #e1b12c;
}
.btn.t6.green {
  border-color: #4cd137;
  color: #4cd137;
}
.btn.t6.green:hover {
  color: #44bd32;
}
.btn.t6.black {
  border-color: #353b48;
  color: #353b48;
}
.btn.t6.black:hover {
  color: #2f3640;
}

/*-=[/BUTTON]=-*/
/*-=[F-INPUT]=-*/
.f-input {
  position: relative;
  margin-bottom: 5px;
  /*-=[INITIALIZE INPUT]=-*/
  /*-=[INITIALIZE INPUT]=-*/
  /*-=[TYPE 2]=-*/
  /*-=[/TYPE 2]=-*/
  /*-=[TYPE 3 & 4]=-*/
  /*-=[/TYPE 3 & 4]=-*/
  /*-=[TYPE 5 & 6]=-*/
  /*-=[/TYPE 5 & 6]=-*/
}
.f-input span {
  display: block;
  margin-bottom: 5px;
}
.f-input input, .f-input textarea {
  padding: 10px;
  border: 1px solid #ecf0f1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px transparent;
  -moz-box-shadow: 0 0 5px transparent;
  -ms-box-shadow: 0 0 5px transparent;
  -o-box-shadow: 0 0 5px transparent;
  box-shadow: 0 0 5px transparent;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.f-input input:focus, .f-input textarea:focus {
  -webkit-box-shadow: 0 0 5px #ecf0f1;
  -moz-box-shadow: 0 0 5px #ecf0f1;
  -ms-box-shadow: 0 0 5px #ecf0f1;
  -o-box-shadow: 0 0 5px #ecf0f1;
  box-shadow: 0 0 5px #ecf0f1;
  outline: none;
}
.f-input textarea.h-1 {
  height: 100px;
}
.f-input textarea.h-2 {
  height: 200px;
}
.f-input textarea.h-3 {
  height: 300px;
}
.f-input textarea.h-4 {
  height: 400px;
}
.f-input textarea.h-5 {
  height: 500px;
}
.f-input.red input, .f-input.red.red textarea {
  border-color: #e84118;
}
.f-input.red input:focus, .f-input.red.red textarea:focus {
  border-color: #c23616;
  -webkit-box-shadow: 0 0 5px #e84118;
  -moz-box-shadow: 0 0 5px #e84118;
  -ms-box-shadow: 0 0 5px #e84118;
  -o-box-shadow: 0 0 5px #e84118;
  box-shadow: 0 0 5px #e84118;
}
.f-input.blue input, .f-input.blue textarea {
  border-color: #00a8ff;
}
.f-input.blue input:focus, .f-input.blue textarea:focus {
  border-color: #0097e6;
  -webkit-box-shadow: 0 0 5px #0097e6;
  -moz-box-shadow: 0 0 5px #0097e6;
  -ms-box-shadow: 0 0 5px #0097e6;
  -o-box-shadow: 0 0 5px #0097e6;
  box-shadow: 0 0 5px #0097e6;
}
.f-input.blue2 input, .f-input.blue2 textarea {
  border-color: #487eb0;
}
.f-input.blue2 input:focus, .f-input.blue2 textarea:focus {
  border-color: #40739e;
  -webkit-box-shadow: 0 0 5px #487eb0;
  -moz-box-shadow: 0 0 5px #487eb0;
  -ms-box-shadow: 0 0 5px #487eb0;
  -o-box-shadow: 0 0 5px #487eb0;
  box-shadow: 0 0 5px #487eb0;
}
.f-input.blue3 input, .f-input.blue3 textarea {
  border-color: #273c75;
}
.f-input.blue3 input:focus, .f-input.blue3 textarea:focus {
  border-color: #192a56;
  -webkit-box-shadow: 0 0 5px #273c75;
  -moz-box-shadow: 0 0 5px #273c75;
  -ms-box-shadow: 0 0 5px #273c75;
  -o-box-shadow: 0 0 5px #273c75;
  box-shadow: 0 0 5px #273c75;
}
.f-input.purple input, .f-input.purple textarea {
  border-color: #9c88ff;
}
.f-input.purple input:focus, .f-input.purple textarea:focus {
  border-color: #8c7ae6;
  -webkit-box-shadow: 0 0 5px #9c88ff;
  -moz-box-shadow: 0 0 5px #9c88ff;
  -ms-box-shadow: 0 0 5px #9c88ff;
  -o-box-shadow: 0 0 5px #9c88ff;
  box-shadow: 0 0 5px #9c88ff;
}
.f-input.yellow input, .f-input.yellow textarea {
  border-color: #fbc531;
}
.f-input.yellow input:focus, .f-input.yellow textarea:focus {
  border-color: #e1b12c;
  -webkit-box-shadow: 0 0 5px #fbc531;
  -moz-box-shadow: 0 0 5px #fbc531;
  -ms-box-shadow: 0 0 5px #fbc531;
  -o-box-shadow: 0 0 5px #fbc531;
  box-shadow: 0 0 5px #fbc531;
}
.f-input.green input, .f-input.green textarea {
  border-color: #4cd137;
}
.f-input.green input:focus, .f-input.green textarea:focus {
  border-color: #44bd32;
  -webkit-box-shadow: 0 0 5px #4cd137;
  -moz-box-shadow: 0 0 5px #4cd137;
  -ms-box-shadow: 0 0 5px #4cd137;
  -o-box-shadow: 0 0 5px #4cd137;
  box-shadow: 0 0 5px #4cd137;
}
.f-input.black input, .f-input.black textarea {
  border-color: #353b48;
}
.f-input.black input:focus, .f-input.black textarea:focus {
  border-color: #2f3640;
  -webkit-box-shadow: 0 0 5px #353b48;
  -moz-box-shadow: 0 0 5px #353b48;
  -ms-box-shadow: 0 0 5px #353b48;
  -o-box-shadow: 0 0 5px #353b48;
  box-shadow: 0 0 5px #353b48;
}
.f-input.t2 input, .f-input.t2 textarea, .f-input.t3 input, .f-input.t3 textarea, .f-input.t4 input, .f-input.t4 textarea, .f-input.t5 input, .f-input.t5 textarea, .f-input.t6 input, .f-input.t6 textarea {
  border: 1px solid transparent;
}
.f-input.t2 input:focus, .f-input.t2 textarea:focus, .f-input.t3 input:focus, .f-input.t3 textarea:focus, .f-input.t4 input:focus, .f-input.t4 textarea:focus, .f-input.t5 input:focus, .f-input.t5 textarea:focus, .f-input.t6 input:focus, .f-input.t6 textarea:focus {
  -webkit-box-shadow: 0px 0 0 transparent;
  -moz-box-shadow: 0px 0 0 transparent;
  -ms-box-shadow: 0px 0 0 transparent;
  -o-box-shadow: 0px 0 0 transparent;
  box-shadow: 0px 0 0 transparent;
  border-color: transparent;
}
.f-input.t2.red input, .f-input.t2.red textarea, .f-input.t3.red input, .f-input.t3.red textarea, .f-input.t4.red input, .f-input.t4.red textarea, .f-input.t5.red input, .f-input.t5.red textarea, .f-input.t6.red input, .f-input.t6.red textarea {
  border-bottom-color: #e84118;
}
.f-input.t2.blue input, .f-input.t2.blue textarea, .f-input.t3.blue input, .f-input.t3.blue textarea, .f-input.t4.blue input, .f-input.t4.blue textarea, .f-input.t5.blue input, .f-input.t5.blue textarea, .f-input.t6.blue input, .f-input.t6.blue textarea {
  border-bottom-color: #00a8ff;
}
.f-input.t2.blue2 input, .f-input.t2.blue2 textarea, .f-input.t3.blue2 input, .f-input.t3.blue2 textarea, .f-input.t4.blue2 input, .f-input.t4.blue2 textarea, .f-input.t5.blue2 input, .f-input.t5.blue2 textarea, .f-input.t6.blue2 input, .f-input.t6.blue2 textarea {
  border-bottom-color: #487eb0;
}
.f-input.t2.blue3 input, .f-input.t2.blue3 textarea, .f-input.t3.blue3 input, .f-input.t3.blue3 textarea, .f-input.t4.blue3 input, .f-input.t4.blue3 textarea, .f-input.t5.blue3 input, .f-input.t5.blue3 textarea, .f-input.t6.blue3 input, .f-input.t6.blue3 textarea {
  border-bottom-color: #273c75;
}
.f-input.t2.purple input, .f-input.t2.purple textarea, .f-input.t3.purple input, .f-input.t3.purple textarea, .f-input.t4.purple input, .f-input.t4.purple textarea, .f-input.t5.purple input, .f-input.t5.purple textarea, .f-input.t6.purple input, .f-input.t6.purple textarea {
  border-bottom-color: #9c88ff;
}
.f-input.t2.yellow input, .f-input.t2.yellow textarea, .f-input.t3.yellow input, .f-input.t3.yellow textarea, .f-input.t4.yellow input, .f-input.t4.yellow textarea, .f-input.t5.yellow input, .f-input.t5.yellow textarea, .f-input.t6.yellow input, .f-input.t6.yellow textarea {
  border-bottom-color: #fbc531;
}
.f-input.t2.green input, .f-input.t2.green textarea, .f-input.t3.green input, .f-input.t3.green textarea, .f-input.t4.green input, .f-input.t4.green textarea, .f-input.t5.green input, .f-input.t5.green textarea, .f-input.t6.green input, .f-input.t6.green textarea {
  border-bottom-color: #4cd137;
}
.f-input.t2.black input, .f-input.t2.black textarea, .f-input.t3.black input, .f-input.t3.black textarea, .f-input.t4.black input, .f-input.t4.black textarea, .f-input.t5.black input, .f-input.t5.black textarea, .f-input.t6.black input, .f-input.t6.black textarea {
  border-bottom-color: #353b48;
}
.f-input.t2 input, .f-input.t2 textarea {
  border: 1px solid transparent;
}
.f-input.t3, .f-input.t4 {
  position: relative;
}
.f-input.t3 label, .f-input.t4 label {
  position: absolute;
  bottom: -1px;
  width: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  height: 2px;
}
.f-input.t3 input, .f-input.t3 textarea, .f-input.t4 input, .f-input.t4 textarea {
  border-color: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.f-input.t3 input:focus, .f-input.t3 textarea:focus, .f-input.t4 input:focus, .f-input.t4 textarea:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.f-input.t3 input:focus ~ label, .f-input.t3 textarea:focus ~ label, .f-input.t4 input:focus ~ label, .f-input.t4 textarea:focus ~ label {
  width: 100%;
}
.f-input.t3 textarea ~ label, .f-input.t4 textarea ~ label {
  bottom: 0px;
}
.f-input.t3.red label, .f-input.t4.red label {
  background: #e84118;
}
.f-input.t3.blue label, .f-input.t4.blue label {
  background: #00a8ff;
}
.f-input.t3.blue2 label, .f-input.t4.blue2 label {
  background: #487eb0;
}
.f-input.t3.blue3 label, .f-input.t4.blue3 label {
  background: #273c75;
}
.f-input.t3.purple label, .f-input.t4.purple label {
  background: #9c88ff;
}
.f-input.t3.yellow label, .f-input.t4.yellow label {
  background: #fbc531;
}
.f-input.t3.green label, .f-input.t4.green label {
  background: #4cd137;
}
.f-input.t3.black label, .f-input.t4.black label {
  background: #353b48;
}
.f-input.t3 label {
  left: 0px;
}
.f-input.t4 label {
  right: 0;
}
.f-input.t5, .f-input.t6 {
  position: relative;
}
.f-input.t5 input, .f-input.t5 textarea, .f-input.t6 input, .f-input.t6 textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.f-input.t5 label:before, .f-input.t5 label:after, .f-input.t6 label:before, .f-input.t6 label:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -1px;
  width: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.f-input.t5 textarea ~ label:before, .f-input.t5 textarea ~ label:after, .f-input.t6 textarea ~ label:before, .f-input.t6 textarea ~ label:after {
  bottom: 0;
}
.f-input.t5.red label:after, .f-input.t5.red label:before, .f-input.t6.red label:after, .f-input.t6.red label:before {
  background: #e84118;
}
.f-input.t5.blue label:after, .f-input.t5.blue label:before, .f-input.t6.blue label:after, .f-input.t6.blue label:before {
  background: #00a8ff;
}
.f-input.t5.blue2 label:after, .f-input.t5.blue2 label:before, .f-input.t6.blue2 label:after, .f-input.t6.blue2 label:before {
  background: #487eb0;
}
.f-input.t5.blue3 label:after, .f-input.t5.blue3 label:before, .f-input.t6.blue3 label:after, .f-input.t6.blue3 label:before {
  background: #273c75;
}
.f-input.t5.purple label:after, .f-input.t5.purple label:before, .f-input.t6.purple label:after, .f-input.t6.purple label:before {
  background: #9c88ff;
}
.f-input.t5.yellow label:after, .f-input.t5.yellow label:before, .f-input.t6.yellow label:after, .f-input.t6.yellow label:before {
  background: #fbc531;
}
.f-input.t5.green label:after, .f-input.t5.green label:before, .f-input.t6.green label:after, .f-input.t6.green label:before {
  background: #4cd137;
}
.f-input.t5.black label:after, .f-input.t5.black label:before, .f-input.t6.black label:after, .f-input.t6.black label:before {
  background: #353b48;
}
.f-input.t5 label:after {
  left: 0;
}
.f-input.t5 label:before {
  right: 0;
}
.f-input.t5 input:focus ~ label:after, .f-input.t5 input:focus ~ label:before, .f-input.t5 textarea:focus ~ label:after, .f-input.t5 textarea:focus ~ label:before {
  width: 50%;
}
.f-input.t6 label:after {
  left: 50%;
}
.f-input.t6 label:before {
  right: 50%;
}
.f-input.t6 input:focus ~ label:after, .f-input.t6 input:focus ~ label:before, .f-input.t6 textarea:focus ~ label:after, .f-input.t6 textarea:focus ~ label:before {
  width: 50%;
}

/*-=[/F-INPUT]=-*/
/*-=[FORM]=-*/
.form-error {
  padding: 10px 10px 10px 40px;
  background: #c23616;
  color: #FFFFFF;
  position: relative;
  font-size: 10pt;
  border-bottom: 3px solid #e84118;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
}
.form-error:after, .form-error:before {
  content: "";
  position: absolute;
  background: #FFFFFF;
  width: 15px;
  height: 2px;
  left: 10px;
  top: 50%;
}
.form-error:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-error:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.flashdata {
  padding: 10px 10px 10px 30px;
  border: 1px solid transparent;
  font-size: 10pt;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  max-height: 1500px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.flashdata.error {
  border-color: #c23616;
  background: #eec8c5;
  color: #c23616;
}
.flashdata.error:after, .flashdata.error:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
}
.flashdata.error:after {
  content: "X";
  color: #FFFFFF;
  left: 11px;
  top: 12px;
  font-size: 8pt;
}
.flashdata.error:before {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background: #c23616;
}
.flashdata.success {
  border-color: #44bd32;
  background: #dcf3d6;
  color: #44bd32;
}
.flashdata.success:after, .flashdata.success:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
}
.flashdata.success:after {
  width: 8px;
  height: 3px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  left: 9px;
  top: 13px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.flashdata.success:before {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background: #4cd137;
}
.flashdata.warning {
  border-color: #e1b12c;
  background: #fceec7;
  color: #e1b12c;
}
.flashdata.warning:after, .flashdata.warning:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
}
.flashdata.warning:after {
  content: "!";
  color: #FFFFFF;
  left: 12.5px;
  top: 11px;
}
.flashdata.warning:before {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background: #c29c36;
}
.flashdata.info {
  border-color: #0097e6;
  background: #afe4ff;
  color: #0097e6;
}
.flashdata.info:after, .flashdata.info:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
}
.flashdata.info:after {
  content: "i";
  color: #FFFFFF;
  left: 12.5px;
  top: 11px;
}
.flashdata.info:before {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background: #0097e6;
}

/*-=[/FORM]=-*/
/*-=[F-CHECK]=-*/
.f-check {
  margin-bottom: 5px;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.f-check input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
.f-check label {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #FFFFFF;
  width: 15px;
  height: 100%;
  border: 1px solid #ecf0f1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
  border-radius: 2.5px;
}
.f-check label:before, .f-check label:after {
  content: "";
  position: absolute;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.f-check label:before {
  top: 0;
  bottom: 0;
  margin: auto;
  right: -20px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: #7f8fa6;
  opacity: 0;
}
.f-check input[type=checkbox] ~ label:after {
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: 50%;
  border: 3px solid;
  border-width: 0 3px 3px 0;
  border-color: #7f8fa6;
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: transparent;
}
.f-check input[type=radio] ~ label:after {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  opacity: 0;
  background: #7f8fa6;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.f-check input:checked ~ label {
  background: #ecf0f1;
}
.f-check input:checked ~ label:after {
  opacity: 1;
}
.f-check:hover label:before {
  right: -25px;
  opacity: 1;
}
.f-check.red input[type=checkbox] ~ label:after, .f-check.blue input[type=checkbox] ~ label:after, .f-check.blue2 input[type=checkbox] ~ label:after, .f-check.blue3 input[type=checkbox] ~ label:after, .f-check.purple input[type=checkbox] ~ label:after, .f-check.yellow input[type=checkbox] ~ label:after, .f-check.green input[type=checkbox] ~ label:after, .f-check.black input[type=checkbox] ~ label:after {
  border-color: #FFFFFF;
}
.f-check.red input[type=radio] ~ label:after, .f-check.blue input[type=radio] ~ label:after, .f-check.blue2 input[type=radio] ~ label:after, .f-check.blue3 input[type=radio] ~ label:after, .f-check.purple input[type=radio] ~ label:after, .f-check.yellow input[type=radio] ~ label:after, .f-check.green input[type=radio] ~ label:after, .f-check.black input[type=radio] ~ label:after {
  background: #FFFFFF;
}
.f-check.red input ~ label {
  border-color: #e84118;
}
.f-check.red input:checked ~ label {
  background: #e84118;
}
.f-check.red:hover label:before {
  border-left-color: #e84118;
}
.f-check.blue input ~ label {
  border-color: #00a8ff;
}
.f-check.blue input:checked ~ label {
  background: #00a8ff;
}
.f-check.blue:hover label:before {
  border-left-color: #00a8ff;
}
.f-check.blue2 input ~ label {
  border-color: #487eb0;
}
.f-check.blue2 input:checked ~ label {
  background: #487eb0;
}
.f-check.blue2:hover label:before {
  border-left-color: #487eb0;
}
.f-check.blue3 input ~ label {
  border-color: #273c75;
}
.f-check.blue3 input:checked ~ label {
  background: #273c75;
}
.f-check.blue3:hover label:before {
  border-left-color: #273c75;
}
.f-check.purple input ~ label {
  border-color: #9c88ff;
}
.f-check.purple input:checked ~ label {
  background: #9c88ff;
}
.f-check.purple:hover label:before {
  border-left-color: #9c88ff;
}
.f-check.green input ~ label {
  border-color: #4cd137;
}
.f-check.green input:checked ~ label {
  background: #4cd137;
}
.f-check.green:hover label:before {
  border-left-color: #4cd137;
}
.f-check.yellow input ~ label {
  border-color: #fbc531;
}
.f-check.yellow input:checked ~ label {
  background: #fbc531;
}
.f-check.yellow:hover label:before {
  border-left-color: #fbc531;
}
.f-check.black input ~ label {
  border-color: #353b48;
}
.f-check.black input:checked ~ label {
  background: #353b48;
}
.f-check.black:hover label:before {
  border-left-color: #353b48;
}

/*-=[/F-CHECK]=-*/
/*-=[F-TABLE]=-*/
.f-table {
  width: 100%;
  color: #353b48;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.f-table thead tr th, .f-table thead tr td, .f-table tfoot tr th, .f-table tfoot tr td {
  background: #7f8fa6;
  color: #FFFFFF;
  padding: 10px;
}
.f-table tbody tr:nth-child(odd) td {
  background: #FFFFFF;
}
.f-table tbody tr:nth-child(even) td {
  background: #ecf0f1;
}
.f-table tbody tr:hover td {
  background: #718093;
  color: #FFFFFF;
}
.f-table tbody tr td {
  padding: 10px;
}
.f-table thead td:not(:last-child), .f-table thead th:not(:last-child), .f-table tbody td:not(:last-child), .f-table tbody th:not(:last-child), .f-table tfoot td:not(:last-child), .f-table tfoot th:not(:last-child) {
  border-right: 1px solid #FFFFFF;
}
.f-table.red thead tr th, .f-table.red tfoot tr th, .f-table.red tfoot tr td {
  background: #e84118;
}
.f-table.red tbody tr:hover td {
  background: #c23616;
}
.f-table.blue thead tr th, .f-table.blue tfoot tr th, .f-table.blue tfoot tr td {
  background: #00a8ff;
}
.f-table.blue tbody tr:hover td {
  background: #0097e6;
}
.f-table.blue2 thead tr th, .f-table.blue2 tfoot tr th, .f-table.blue2 tfoot tr td {
  background: #487eb0;
}
.f-table.blue2 tbody tr:hover td {
  background: #40739e;
}
.f-table.blue3 thead tr th, .f-table.blue3 tfoot tr th, .f-table.blue3 tfoot tr td {
  background: #273c75;
}
.f-table.blue3 tbody tr:hover td {
  background: #192a56;
}
.f-table.purple thead tr th, .f-table.purple tfoot tr th, .f-table.purple tfoot tr td {
  background: #9c88ff;
}
.f-table.purple tbody tr:hover td {
  background: #8c7ae6;
}
.f-table.yellow thead tr th, .f-table.yellow tfoot tr th, .f-table.yellow tfoot tr td {
  background: #fbc531;
}
.f-table.yellow tbody tr:hover td {
  background: #e1b12c;
}
.f-table.green thead tr th, .f-table.green tfoot tr th, .f-table.green tfoot tr td {
  background: #4cd137;
}
.f-table.green tbody tr:hover td {
  background: #44bd32;
}
.f-table.black thead tr th, .f-table.black tfoot tr th, .f-table.black tfoot tr td {
  background: #353b48;
}
.f-table.black tbody tr:hover td {
  background: #2f3640;
}

/*-=[/F-TABLE]=-*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*=col-] {
    width: 100%;
  }
}
/*-=[OTHER]=-*/
.left {
  float: left;
}

.right {
  float: right;
}

.clr-l {
  clear: left;
}

.clr-r {
  clear: right;
}

.clr-b {
  clear: both;
}

.center {
  text-align: center;
}

.centered {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.centered-x {
  left: 0;
  right: 0;
  margin: auto;
}

.centered-y {
  top: 0;
  bottom: 0;
  margin: auto;
}

.m-a {
  margin: auto;
}

.m-v {
  margin: 5px;
}

.m-x {
  margin: 10px;
}

.m-xx {
  margin: 20px;
}

.m-xxx {
  margin: 30px;
}

.m-r-v {
  margin-right: 5px;
}

.m-l-v {
  margin-left: 5px;
}

.m-b-v {
  margin-bottom: 5px;
}

.m-r-v {
  margin-right: 5px;
}

.m-t-x {
  margin-top: 10px;
}

.m-r-x {
  margin-right: 10px;
}

.m-l-x {
  margin-left: 10px;
}

.m-b-x {
  margin-bottom: 10px;
}

.m-t-xx {
  margin-top: 20px;
}

.m-r-xx {
  margin-right: 20px;
}

.m-l-xx {
  margin-left: 20px;
}

.m-b-xx {
  margin-bottom: 20px;
}

.m-t-xxx {
  margin-top: 30px;
}

.m-r-xxx {
  margin-right: 30px;
}

.m-l-xxx {
  margin-left: 30px;
}

.m-b-xxx {
  margin-bottom: 30px;
}

.p-v {
  padding: 5px;
}

.p-x {
  padding: 10px;
}

.p-xx {
  padding: 20px;
}

.p-xxx {
  padding: 30px;
}

.p-r-v {
  padding-right: 5px;
}

.p-l-v {
  padding-left: 5px;
}

.p-b-v {
  padding-bottom: 5px;
}

.p-r-v {
  padding-right: 5px;
}

.p-l-x {
  padding-left: 10px;
}

.p-t-x {
  padding-top: 10px;
}

.p-r-x {
  padding-right: 10px;
}

.p-b-x {
  padding-bottom: 10px;
}

.p-t-xx {
  padding-top: 20px;
}

.p-r-xx {
  padding-right: 20px;
}

.p-l-xx {
  padding-left: 20px;
}

.p-b-xx {
  padding-bottom: 20px;
}

.p-t-xxx {
  padding-top: 30px;
}

.p-r-xxx {
  padding-right: 30px;
}

.p-l-xxx {
  padding-left: 30px;
}

.p-b-xxx {
  padding-bottom: 30px;
}

.dis-block {
  display: block;
}

.dis-ib {
  display: inline-block;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.bor-1 {
  border-width: 1px;
}

.bor-2 {
  border-width: 2px;
}

.bor-3 {
  border-width: 3px;
}

.bor-t-1 {
  border-top-width: 1px;
}

.bor-r-1 {
  border-right-width: 1px;
}

.bor-l-1 {
  border-left-width: 1px;
}

.bor-b-1 {
  border-bottom-width: 1px;
}

.bor-t-2 {
  border-top-width: 2px;
}

.bor-r-2 {
  border-right-width: 2px;
}

.bor-b-2 {
  border-bottom-width: 2px;
}

.bor-l-2 {
  border-left-width: 2px;
}

.bor-t-3 {
  border-width: 3px;
}

.bor-r-3 {
  border-width: 3px;
}

.bor-b-3 {
  border-width: 3px;
}

.bor-l-3 {
  border-width: 3px;
}

.bor-s-s {
  border-style: solid;
}

.bor-w {
  border-color: #FFFFFF;
}

.bor-w2 {
  border-color: #ecf0f1;
}

.bor-w3 {
  border-color: #7f8fa6;
}

.bor-w4 {
  border-color: #718093;
}

.bor-gr {
  border-color: #4cd137;
}

.bor-gr2 {
  border-color: #44bd32;
}

.bor-gr3 {
  border-color: #dcf3d6;
}

.bor-gr4 {
  border-color: #27ae60;
}

.bor-b {
  border-color: #00a8ff;
}

.bor-b2 {
  border-color: #0097e6;
}

.bor-b3 {
  border-color: #487eb0;
}

.bor-b4 {
  border-color: #40739e;
}

.bor-b5 {
  border-color: #273c75;
}

.bor-b6 {
  border-color: #192a56;
}

.bor-p {
  border-color: #9c88ff;
}

.bor-p2 {
  border-color: #8c7ae6;
}

.bor-y {
  border-color: #fbc531;
}

.bor-y2 {
  border-color: #e1b12c;
}

.bor-rd {
  border-color: #e84118;
}

.bor-rd2 {
  border-color: #c23616;
}

.ov-h {
  overflow: hidden;
}

.ov-a {
  overflow: auto;
}

.ov-a-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.ov-a-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-x {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 17px;
}

.scroll-y {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 17px;
}

.img img {
  width: 100%;
  display: block;
}

.i-v {
  width: 5px;
  display: inline-block;
}
.i-v img {
  width: 100%;
  display: block;
}

.i-x {
  width: 10px;
  display: inline-block;
}
.i-x img {
  width: 100%;
  display: block;
}

.i-xv {
  width: 15px;
  display: inline-block;
}
.i-xv img {
  width: 100%;
  display: block;
}

.i-xx {
  width: 20px;
  display: inline-block;
}
.i-xx img {
  width: 100%;
  display: block;
}

.i-xxv {
  width: 25px;
  display: inline-block;
}
.i-xxv img {
  width: 100%;
  display: block;
}

.i-xxx {
  width: 30px;
  display: inline-block;
}
.i-xxx img {
  width: 100%;
  display: block;
}

.fc-w {
  color: #FFFFFF;
}

.fc-w2 {
  color: #ecf0f1;
}

.fc-w3 {
  color: #7f8fa6;
}

.fc-w4 {
  color: #718093;
}

.fc-r {
  color: #e84118;
}

.fc-b {
  color: #00a8ff;
}

.fc-b2 {
  color: #0097e6;
}

.fc-b3 {
  color: #487eb0;
}

.fc-b4 {
  color: #40739e;
}

.fc-b5 {
  color: #273c75;
}

.fc-b6 {
  color: #192a56;
}

.fc-bl {
  color: #353b48;
}

.fc-bl2 {
  color: #2f3640;
}

.fc-p {
  color: #9c88ff;
}

.fc-p2 {
  color: #8c7ae6;
}

.fc-y {
  color: #fbc531;
}

.fc-y2 {
  color: #fbc531;
}

.fa-left {
  text-align: left;
}

.fa-right {
  text-align: right;
}

.fa-just {
  text-align: justify;
}

/*-=[/OTHER]=-*/
/*-=[ICON]=-*/
/*-=[/ICON]=-*/
/*-=[BORDER RADIUS]=-*/
.br-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.br-10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.br-15 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.br-20 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.br-v {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.br-x {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

/*-=[/BORDER RADIUS]=-*/
/*-=[TRANSITION]=-*/
.trans--2 {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.trans--3 {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.trans--4 {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.trans--5 {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.trans-1 {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.trans-2 {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.trans-3 {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

/*-=[/TRANSITION]=-*/
/*-=[BACKGROUND]=-*/
.bg-w {
  background: #FFFFFF;
}

.bg-w2 {
  background: #ecf0f1;
}

.bg-w3 {
  background: #7f8fa6;
}

.bg-w4 {
  background: #718093;
}

.bg-b {
  background: #00a8ff;
}

.bg-b2 {
  background: #0097e6;
}

.bg-b3 {
  background: #487eb0;
}

.bg-b4 {
  background: #40739e;
}

.bg-b5 {
  background: #273c75;
}

.bg-b6 {
  background: #192a56;
}

.bg-bl {
  background: #353b48;
}

.bg-bl2 {
  background: #2f3640;
}

.bg-p {
  background: #9c88ff;
}

.bg-p2 {
  background: #8c7ae6;
}

.bg-rd {
  background: #e84118;
}

.bg-rd2 {
  background: #c23616;
}

.bg-y {
  background: #fbc531;
}

.bg-y2 {
  background: #fbc531;
}

.bg-trans {
  background: transparent;
}

/*-=[/BACKGROUND]=-*/
